.navbar {
    background: rgb(27, 138, 215);
    background: radial-gradient(circle, rgba(27, 138, 215, 1) 0%, rgba(35, 63, 96, 1) 100%);
    border: none;
    border-radius: 20px;
}

.infoImg {
    border: none;
    border-radius: 20px;
}

.infoSide {
    background: rgb(35, 63, 96);
    background: linear-gradient(180deg, rgba(35, 63, 96, 1) 0%, rgba(27, 138, 215, 0.1) 100%);
    border: none;
    border-radius: 20px;
}